<div class="layout">
    <header>
        <img src="/assets/logo.png" alt="">
        <div class="header-menu">
            <button (click)="save()">Save</button>
            <button (click)="load()">Load</button>
            <button (click)="reset()">Reset</button>
        </div>
    </header>
    <main>
        <article>
            <app-workbench></app-workbench>
        </article>
        <nav>
            <app-plugin-library></app-plugin-library>
        </nav>
        <aside>
        </aside>
    </main>
</div>