<div class="layout">
  <header>
    <img src="/assets/logo.png" alt="" />
    <div class="header-menu">
      <button (click)="save()">Save</button>
      <button (click)="load()">Load</button>
      <button (click)="reset()">Reset</button>
      <button (click)="undo()">Undo</button>
      <button (click)="redo()">Redo</button>
    </div>
  </header>
  <main>
    <article>
      <app-top-controls></app-top-controls>
      <app-workbench></app-workbench>
    </article>
    <nav [ngClass]="{ collapsed: collapsed }">
      <app-left-panel></app-left-panel>
    </nav>
    <div class="collapser" (click)="toggle()" [ngClass]="{ collapsed: collapsed }">
      <i class="icon-lsi-left-arrow" [hidden]="collapsed"></i>
      <i class="icon-lsi-right-arrow" [hidden]="!collapsed"></i>
    </div>
    <aside>
      <app-right-panel></app-right-panel>
    </aside>
  </main>
</div>
