<!-- TODO: separate into layout and workspace -->

<header>
    <img src="/assets/logo.png" alt="">
</header>
<main>
    <article class="grid" #containerEl (dragover)="allowDrop($event)" (drop)="dropped($event)"
        (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseUp()"> 
        <ng-container *ngFor="let plugin of plugins">
            <div appDynamicPlugin [id]="plugin.id!" [x]="plugin.x" [y]="plugin.y"></div>
        </ng-container>
    </article>
    <nav>
        <app-plugin-library></app-plugin-library>
    </nav>
    <aside>
        <div><button (click)="save()">Save</button></div>
        <div><button (click)="load()">Load</button></div>
    </aside>
</main>
<button (click)="clear()"></button>