svg {
    z-index: 0;
    position: absolute;
    overflow: visible !important;
}

.grid {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(#2b2c2c 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, #2b2c2c 0 1px, transparent 1px 100%);
    background-size: 71px 71px;
}