<div
  class="plugin"
  [attr.value]="id"
  [style.top]="y + 'px'"
  [style.left]="x + 'px'"
  [attr.data-id]="id"
  [style.width]="width + 'px'"
  [ngClass]="{ selected: selected }"
>
  <div *ngIf="data?.isHovering">
    <div class="node-outer-border">
      <div *ngIf="getJobStatus() !== 'node-running'; else nodeRunning">
        <div class="node-status" [ngStyle]="{'border-color': (getJobStatus() === 'node-completed') ? '#02dcc7' : ((getJobStatus() === 'node-cancelled') ? '#dc3545' : 'black')}"></div>
      </div>
    </div>
  </div>
  <div class="inlet" [hidden]="!hasInlet"></div>
  <div class="outlet" [hidden]="!hasOutlet"></div>
  <div class="node-header">
    <button class="expander">
      <i class="icon-lsi-down-arrow" [hidden]="expanded"></i>
      <i class="icon-lsi-right-arrow" [hidden]="!expanded"></i>
    </button>
    <div class="title">{{ name }}</div>
    <div class="icon">
      <i [ngClass]="icon"></i>
    </div>
  </div>
  <div class="node-content" [hidden]="!expanded">
    <ng-container #outlet></ng-container>
  </div>
</div>

<ng-template #nodeRunning>
  <div class="node-running"></div>
</ng-template>
