<div class="plugin" [attr.value]="id" [style.top]="y+'px'" [style.left]="x+'px'" [attr.data-id]="id" [style.width]="width+'px'"
    [ngClass]="{selected: selected}">
    <div class="inlet" [hidden]="!hasInlet"></div>
    <div class="outlet" [hidden]="!hasOutlet"></div>
    <div class="node-header">
        <button>
            <i class="icon-lsi-down-arrow"></i>
        </button>
        <div class="title">{{ name }}</div>
        <div class="icon">
            <i [ngClass]="icon"></i>
        </div>
    </div>
    <div class="node-content" [hidden]="!expanded">
        <ng-container #outlet></ng-container>
    </div>
</div>