@use '/src/sass/colors' as colors;

$primary-bg-color: #3e3e3e;
$primary-bg-color-lighter: #4b4b4b;
$primary-bg-color-lighest: #555555;

.form-control { 
    width: 700px; 
    // background-color: colors.$black;
}

.wf-modal { 
    background-color: $primary-bg-color;
}

// .modal-title {
//     color: white;
// }