<!-- <div>Plugin A</div> -->
<div class="plugin">
    <h6>Inputs</h6>
    <div *ngFor="let input of node?.plugin?.cwlScript.inputs | keyvalue">
        <!-- <div class="inlet"></div> -->
        <!-- <div class="outlet" [hidden]="!hasOutlet"></div> -->
        <label class="inlet">{{input.key}}</label>
        <!-- {{input.value}} -->
        <!-- <input [(ngModel)]="input.value" type="text" name="{{'input' + i}}" id="setting"/>  -->
        <!-- <input [(ngModel)]="input.value" (change)="setSettingsVal(input.key + '', $event, node)" type="text" name="" id="setting"/> -->
    </div>
</div>