<div class="panel-header">
    <mat-toolbar>
        <span>Selection Details</span>
    </mat-toolbar>
</div>
<div *ngFor="let node of nodes">
    <mat-accordion>                
        <mat-expansion-panel (opened)="openPanel(node)" (closed)="closePanel(node)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{node.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>metadata</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>