<div class="tree">
  <ng-container *ngTemplateOutlet="tree; context: { nodes: allNodes }"> </ng-container>
</div>

<br/>
<button class="btn btn-green" (click)="displayNewPluginModal()">
  <i class="icon-lsi-add">
    New plugin
  </i>
</button>

<ng-template #tree let-nodes="nodes">
  <div *ngFor="let node of nodes">
    <div
      class="plugin"
      [attr.draggable]="!!node.name"
      [attr.data-name]="node.name"
      (dragstart)="dragStart($event)"
      [ngClass]="{ draggable: !!node.name }"
    >
      <i class="expand" (click)="node.expanded = !node.expanded" [ngClass]="node.expanded ? node.expandedIcon || node.icon : node.icon"></i>
      {{ node.name }}
    </div>

    <div class="children" *ngIf="node.expanded">
      <ng-container *ngTemplateOutlet="tree; context: { nodes: node.children }"> </ng-container>
    </div>
  </div>
</ng-template>
