.tree {
  margin-left: 5px;
  width: 250px;
  
  .plugin {
    padding: 5px 0;
    color: #c2c2c2;

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &.draggable {
      cursor: grab;
      .expand {
        cursor: grab;
      }
    }

    .expand {
      cursor: pointer;
    }
  }

  .children {
    padding-left: 1rem;
  }
}
