$width: 200px;
$height: 60px;
$outlet-size: 20px;

.plugin {
    border: 2px solid gray;
    width: $width;
    height: $height;
    padding: 10px;
    cursor: grab;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:active {
        cursor: grabbing;
    }

    .outlet {
        border: 2px solid gray;
        width: $outlet-size;
        height: $outlet-size;
        position: absolute;
        top: calc(50% - $outlet-size / 2);
        left: calc(100% - $outlet-size / 2 + 1px);
        border-radius: 50%;
        background-color: #fff;

        &:hover {
            background-color: orange;
            cursor: crosshair;
        }
    }

    .inlet {
        border: 2px solid gray;
        width: $outlet-size;
        height: $outlet-size;
        position: absolute;
        top: calc(50% - $outlet-size / 2);
        left: calc(1px - $outlet-size / 2 );
        border-radius: 50%;
        background-color: #fff;

        &:hover {
            background-color: orange;
            cursor: crosshair;
        }
    }
}
